h1 {
  font-family: Lato;
  font-size: xxx-large;
  text-align: center;
  color: rgb(17, 5, 124);
}

p {
  font-family: Lato;
  font-size: large;
  text-align: center;
  color: rgb(17, 5, 124);
}
/*img {
  position: relative;
  margin: 0px auto;
  display: block;
  height: 300px;
  width: 300px; 
}
*/
.button {
  width: 200px;

  background-color: #f8585b;

  border: none;

  color: #fff;

  padding: 15px 0;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 15px;

  margin: 4px;

  cursor: pointer;

  position: relative;
  margin: 0px auto;
  display: block;
}

